*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./bg.jpg");
    height: 700px; /* You must set a specified height */
  background-position: center; 
}
.container{
    width: 500px;
    padding: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #FFFFCC;
   
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}

p{
    font-size: 20px;
    margin: 30px 0;
    font-weight: 500;
}
button{
    background-color: #1DBD38;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(60deg);
    }
    100%{
        transform: rotate(-60deg);
    }
}
